*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body{
  background-image: url(./fondo.jpg) ;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(0.8);
}

.body{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.9) 100%);
  background-size: cover;
}

.fila{
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 180px;
}

.logo{
margin-left: 190px;
}

.lenguaje{
  background-color: rgba(5, 5, 7, 0.75);
  font-size: 15px;
  font-weight: 60;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.sesion{
  background-color: red;
  font-size: 13px;
  font-weight: 70px;
  color: white;
  border: 0;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 170px;
  padding: 8px;
  text-align: center;

}

.sesion:hover {
  background-color: rgb(184, 28, 28);
}

.columna{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.uno{
  font-size: 50px;
  color: white;
  letter-spacing: 0px;
  word-spacing: 0px;
}

.dos{
  font-size: 25px;
  color: white;
  line-height: 1px;
}

.tres{
  font-size: 20px;
  color: white;
}

.email{
  background-color: rgba(5, 5, 7, 0.75);
  font-size: 15px;
  font-weight: 60;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0px;
  padding: 15px 5px 15px 5px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 200px;
}

.comenzar{
  background-color: red;
  font-size: 25px;
  font-weight: 60;
  color: white;
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 200px;
  padding: 10px 5px 10px 5px;
  text-align: center;
}

.comenzar:hover {
  background-color: rgb(184, 28, 28);
}

.fila-dos{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}