*{
  margin: 0;
  padding: 0;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/c1366fb4-3292-4428-9639-b73f25539794/1bf445d0-02d2-421d-93d5-cf49813230ba/VE-es-20240408-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  
}

/*
#body{
  height: 500px;
}
*/

.fila{
  display: flex; /*comportamiento*/
  gap: 5px; /*espacio entre ellos*/
  justify-content: space-between; /*eje primario*/
  align-items: center;
}

.lenguaje{
  background-color: rgba(5, 5, 7, 0.75);
  font-size: 15px;
  font-weight: 60;
  color: white;
  border: 1px solid white;
  border-radius: 5px; /*que sea curvo*/
  margin: 0px; /*espacio entre elementos*/
  padding: 8px; /*distancia entre el texto y el borde de la caja*/
  text-align: center; /*alinear el texto*/
}

.sesion{
  background-color: red;
  font-size: 15px;
  font-weight: 60;
  color: white;
  border: 0;
  border-radius: 5px; /*que sea curvo*/
  margin: 0px; /*espacio entre elementos*/
  padding: 8px; /*distancia entre el texto y el borde de la caja*/
  text-align: center; /*alinear el texto*/
}

.sesion:hover {
  background-color: rgb(184, 28, 28);
}

.columna{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.uno{
  font-size: 3rem;
  color: white;
  font-family: sans-serif;
}

.dos{
  font-size: 1.5rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: flex-end;
}

.tres{
  font-size: 1.5rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  
}

.columna{
  display: flex;
  justify-content: center;
}

.email{
  background-color: rgba(5, 5, 7, 0.75);
  font-size: 15px;
  font-weight: 60;
  color: white;
  border: 1px solid white;
  border-radius: 5px; /*que sea curvo*/
  margin: 0px; /*espacio entre elementos*/
  padding: 8px; /*distancia entre el texto y el borde de la caja*/
  text-align: center; /*alinear el texto*/
}

.comenzar{
  background-color: red;
  font-size: 15px;
  font-weight: 60;
  color: white;
  border: 0;
  border-radius: 5px; /*que sea curvo*/
  margin: 0px; /*espacio entre elementos*/
  padding: 8px; /*distancia entre el texto y el borde de la caja*/
  text-align: center; /*alinear el texto*/
}

.comenzar:hover {
  background-color: rgb(184, 28, 28);
}

.fila-dos{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}